{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HERO AREA */
.hero {
    height: 40vh;
    background-image: url("https://roboticsbiz.com/wp-content/uploads/2020/07/cloud-robotics.jpg");
    background-size: cover;
    background-position: center;

    /* FLEX CONTAINER */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px 60px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content p {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* MAIN CONTENT */
.content {
    padding: 60px 10%;
    text-align: center;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.content h3 {
    margin: 30px 0 15px;
    font-weight: 500;
}

/* TEAM MEMBERS */
.members {
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
}

/* PROJECT FLEX CONTAINER */
.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* PROJECT CARDS */
.card {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}



/* TEAM IMAGE */
.team-image {
    width: 320px;
    height: 220px;
    margin: 30px auto;
    background-image: url("https://img.sanishtech.com/u/25c821918fdec8d11fb4e2a0282d5eb9.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.size {
    height: 200px;
    width: 100px;
}

.carousel-item {
    height: 500px;
    /* choose height you like */
}

.carousel-item img {
    height: 110%;
    width: 110%;
    object-fit: cover;
}

.pad {
    padding: 10px;

}

.corner {
    border-radius: 10px;
}

.clr {
    background-color: #edede8;
    background-size: cover;
}
