@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
}

/* FLEX CONTAINER */
.projects {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* FIRST IMAGE */
.image {
    background-image: url("https://img.sanishtech.com/u/4ab95a5b8aaca0ad3a6bdcbe1a75215e.jpg");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 100px;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

/* SECOND IMAGE */
.secondimage {
    background-image: url("https://img.sanishtech.com/u/51dca08720d8f9893e2ad0868be7e178.jpg");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 100px;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

/* TEAM HEADING */
.teams {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.robo {
    background-image: url("https://img.sanishtech.com/u/9297a9bdbab96fe3559bbdfda0ec9b4a.jpg");
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 150px;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 8px;
}

.robo2 {
    background-image: url("https://img.sanishtech.com/u/d7f7402f0439cfc863c88a30bd145d12.jpg");
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 150px;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 8px;
}

.heading {
    text-align: center;
    color: white;
}

.team {
    background-image: url("https://img.sanishtech.com/u/25c821918fdec8d11fb4e2a0282d5eb9.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;
    color: white;
    padding: 8px;
}

.style {
    text-decoration: underline;
}

.bgimage {
    background-image: url("https://roboticsbiz.com/wp-content/uploads/2025/05/cloud-robotics.jpg");
    background-size: cover;

    width: 100vw;
}

.members {
    color: #b0aafd;
}

.project {
    text-decoration: underline;
    color: #3900fd;
}
